@model IEnumerable<Calendar.Models.Mission>

@{
    var missionEvents = Model.Select(m => new {
        id = m.Id,
        title = m.Title,
        start = m.StartDate.ToString("yyyy-MM-dd"),
        end = m.EndDate.ToString("yyyy-MM-dd"),
        site = m.Site.ToString(),
        employee = m.Employee.ToString(),
        description = m.Description
    }).ToList();

    var jsonMissions = System.Text.Json.JsonSerializer.Serialize(missionEvents);
}


<div class="filter-container">
    <select id="siteFilter" class="filter-cell">
        <option value="">Tous les sites</option>
        <option value="SiteA">Site A</option>
        <option value="SiteB">Site B</option>
        <option value="SiteC">Site C</option>
        <option value="SiteD">Site D</option>
    </select>

    <select id="employeeFilter" class="filter-cell">
        <option value="">Tous les employés</option>
        <option value="Employe">Employé</option>
        <option value="Gardien">Gardien</option>
        <option value="Conseiller">Conseiller</option>
        <option value="Directeur">Directeur</option>
        <option value="Agent">Agent</option>
    </select>
</div>
<!-- Modal for creating/editing missions -->
<div class="modal fade" id="missionModal" tabindex="-1" role="dialog" aria-labelledby="missionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="missionModalLabel">Details de la mission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <form id="missionForm" autocomplete="off">
                <input type="hidden" id="missionId" name="missionId" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Titre</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Entrer le titre de la mission" required />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="startDate">Date de debut</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate">Date de fin</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" required />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="site">Site</label>
                        <select id="site" name="Site" class="form-control" required>
                            <option value="SiteA">Site A</option>
                            <option value="SiteB">Site B</option>
                            <option value="SiteC">Site C</option>
                            <option value="SiteD">Site D</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="employee">Employé</label>
                        <select id="employee" name="Employee" class="form-control" required>
                            <option value="Employe">Employe</option>
                            <option value="Gardien">Gardien</option>
                            <option value="Conseiller">Conseiller</option>
                            <option value="Directeur">Directeur</option>
                            <option value="Agent">Agent</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Déscription</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Entrer la description de la mission"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger" id="deleteMissionButton">Supprimer</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="article-box">
<div class="login-container">
<div id="calendar"></div>
</div>
</div>

@section Scripts {
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            editable: true,
            locale: 'fr',
            events: @Html.Raw(jsonMissions),
            dateClick: function(info) {
                $('#missionId').val('');
                $('#startDate').val(info.dateStr);
                $('#endDate').val(info.dateStr);
                $('#site').val('SiteA');
                $('#employee').val('Employe');
                $('#deleteMissionButton').hide();
                $('#missionModal').modal('show');
            },
            eventClick: function(info) {
                var mission = info.event;
                $('#missionId').val(mission.id);
                $('#title').val(mission.title);
                var startDate = new Date(mission.start);
                startDate.setDate(startDate.getDate() + 1);
                $('#startDate').val(startDate.toISOString().slice(0,10));
                
                if (!mission.endStr) {
                    var startDate = new Date(mission.start);
                    startDate.setDate(startDate.getDate() + 1);
                    $('#endDate').val(startDate.toISOString().slice(0, 10));
                } else{
                    $('#endDate').val(mission.endStr);
                }
                $('#site').val(mission.extendedProps.site);
                $('#employee').val(mission.extendedProps.employee);
                $('#description').val(mission.extendedProps.description);
                $('#deleteMissionButton').show();
                $('#missionModal').modal('show');
            },
            eventColor: '#eb6f92'
        });

        calendar.render();


        $('#missionForm').on('submit', function(event) {
            event.preventDefault();

            var missionId = $('#missionId').val();
            var title = $('#title').val();
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var site = $('#site').val();
            var employee = $('#employee').val();
            var description = $('#description').val();


            var data = {
                title: title,
                startDate: startDate,
                endDate: endDate,
                site: site,
                employee: employee,
                description: description
            };

            if (missionId) {
                data.id = missionId;
            }

            $.ajax({
                url: '@Url.Action("Create", "Mission")',
                type: 'POST',
                data: data,
                success: function(response) {
                    if(response.success) {
                        if (missionId) {
                        var event = calendar.getEventById(missionId);
                        event.setProp('title', title);
                        event.setDates(startDate, endDate);
                        event.setExtendedProp('site', site);
                        event.setExtendedProp('employee', employee);
                        event.setExtendedProp('description', description);
                    } else {
                        calendar.addEvent({
                            id: response.id,
                            title: title,
                            start: startDate,
                            end: endDate,
                            extendedProps: {
                                site: site,
                                employee: employee,
                                description: description
                            }
                        });
                    }
                        $('#missionModal').modal('hide');
                    } else {
                        alert('An error occurred while saving the mission.');
                    }
                },
                error: function() {
                    alert('An error occurred while saving the mission.');
                }
            });
        });
        $('#deleteMissionButton').on('click', function() {
            var missionId = $('#missionId').val();

            if (missionId) {
                $.ajax({
                    url: '@Url.Action("DeleteMission", "Mission")',
                    type: 'POST',
                    data: { id: missionId },
                    success: function(response) {
                        if (response.success) {
                            var event = calendar.getEventById(missionId);
                            if (event) {
                                event.remove();
                            }
                            $('#missionModal').modal('hide');
                        } else {
                            alert('An error occurred while deleting the mission.');
                        }
                    },
                    error: function() {
                        alert('An error occurred while deleting the mission.');
                    }
                });
            } else {
                alert('No mission selected to delete.');
            }
        });

        function filterEvents() {
            var selectedSite = $('#siteFilter').val();
            var selectedEmployee = $('#employeeFilter').val();

            calendar.removeAllEvents();
            var allEvents = @Html.Raw(jsonMissions);

            // Filter events based on the selected values
            var filteredEvents = allEvents.filter(function(event) {
                var matchesSite = selectedSite === "" || event.site === selectedSite;
                var matchesEmployee = selectedEmployee === "" || event.employee === selectedEmployee;
                return matchesSite && matchesEmployee;
            });

            // Add the filtered events back to the calendar
            filteredEvents.forEach(function(event) {
                calendar.addEvent({
                    id: event.id,
                    title: event.title,
                    start: event.start,
                    end: event.end,
                    extendedProps: {
                        site: event.site,
                        employee: event.employee,
                        description: event.description
                    }
                });
            });
        };

        // Event listeners for the dropdowns
        $('#siteFilter').on('change', filterEvents);
        $('#employeeFilter').on('change', filterEvents);
    });
    </script>
    <script src="~/lib/fullcalendar/dist/index.global.min.js"></script>
    <script src="~/lib/fullcalendar/packages/daygrid/index.global.min.js"></script>
}
