.article-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.login-container {
    height:100%;
    width:65%;
    padding: 2rem;
    background-color: #393552;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.modal-header {
    background-color: #393552;
}
.modal-body {
    color: #000;
}
