@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <header><h1 style="text-align: center;">The calendar website</h1></header>
    <div><p style="text-align: center;">this is a description of the website</p><div>
</div>
