.article-box[b-ac8x0wzefo] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.login-container[b-ac8x0wzefo] {
    height:100%;
    width:65%;
    padding: 2rem;
    background-color: #393552;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.modal-header[b-ac8x0wzefo] {
    background-color: #393552;
}
.modal-body[b-ac8x0wzefo] {
    color: #000;
}
.filter-container[b-ac8x0wzefo] {
    width: 100%;
    justify-content: center;
    display: flex;
    right: 0;
}
