.article-box[b-ac8x0wzefo] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.login-container[b-ac8x0wzefo] {
    height:100%;
    width:65%;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}
